@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 96vh;

  margin-right: 15px;
  padding: 20px;
  background-color: #1f3447;
  color: #fff;
}
